{% extends 'base.html.twig' %}
{% block title %} 


{% endblock %}
{% block body %}
<h1>Bienvenue</h1>
<h2>voir l'épisode </h2>
{% for episode in episodes %}
<ul>
<li><a href="{{ path("program_episode_show", {"program": program.id, "season": season.id, "episode": episode.id}) }}"> Episode {{ episode.number }}</a></li>
<p>{{ episode.synopsis}}</p>
</ul>
      
{% endfor %}
{% endblock %}